[user]
indicatorOrientation=1
indicatorStyle=1
pinned=/usr/share/applications/firefox.desktop;/usr/share/applications/thunar.desktop;/usr/share/applications/visual-studio-code-url-handler.desktop;/usr/share/applications/xfce4-terminal.desktop;/usr/share/applications/gimp.desktop;/usr/share/applications/org.inkscape.Inkscape.desktop;/usr/share/applications/telegramdesktop.desktop;
